<div class="container">
    <div class="inner__container">
        <div class="img__section">
            <div class="title">
                <span>Services</span>
            </div>
        </div>
        <div>
            <div class="webDevelopment">
                <div class="heading">
                    <span>Web Development</span>
                </div>
                <div class="content">
                    <div class="development__title">
                        <span>
                            Custom Web Development Solutions to Elevate Your Business
                        </span>
                    </div>
                    <div class="development__intro">
                        <span>
                            At Finspire, we craft responsive, scalable, and visually stunning websites tailored to meet
                            your business goals. Whether you're starting from scratch or revamping an existing site, our
                            web development services are designed to create seamless digital experiences for your
                            audience.
                        </span>
                    </div>
                    <div class="development__content">
                        <div class="development__services">
                            <span>Our Web Development Services include:</span>
                            <div class="service__intro">
                                <Ul>
                                    <li>Custom Website Development (static/dynamic)</li>
                                    <li>CMS Integration (WordPress, Shopify, etc.)</li>
                                    <li>Web App Development (single-page & progressive web apps)</li>
                                    <li>API Integration & Backend Development</li>
                                    <li>Maintenance and Support</li>
                                </Ul>
                            </div>

                        </div>
                        <div class="development__offers">
                            <span>Why Choose Us?</span>
                            <ul>
                                <li> Experienced Developers: Our team brings years of expertise in modern web
                                    technologies
                                    like Angular, React, Node.js, and SpringBoot.</li>
                                <li> User-Centered Design: We prioritize design and usability.</li>
                                <li> Fully Responsive: Your website will look perfect on all devices.</li>
                                <li> Fast & Secure: Optimized for speed, SEO, and security.</li>
                            </ul>

                        </div>
                    </div>
                </div>
                <div class="images">
                    <img src="pngwing.com (4).png" alt="angular">
                    <img src="pngwing.com (5).png" alt="springboot">
                    <img src="pngwing.com (6).png" alt="react">
                    <img src="pngwing.com (7).png" alt="nodejs">
                    <img src="pngwing.com (8).png" alt="tailwind">
                </div>
            </div>
            <div class="webDevelopment">
                <div class="heading block">
                    <span>UI/UX Designs</span>
                </div>
                <div class="content">
                    <div class="development__title block">
                        <span>
                            Design is everywhere. From the dress you’re wearing to the smartphone you’re holding, it’s design
                        </span>
                    </div>
                    <div class="development__intro block">
                        <span>
                            At Finspire, we design user interfaces and experiences that don't just look good — they *work* beautifully. Our UI/UX team focuses on understanding user behavior to create intuitive, engaging, and seamless digital journeys across websites and applications.
                        </span>
                    </div>
                    <div class="development__content block">
                        <div class="development__services">
                            <span>Our UI/UX Design Services include::</span>
                            <div class="service__intro block">
                                <Ul>
                                    <li>UI Design (Web & Mobile Interfaces)</li>
                                    <li>UX Research & Wireframing</li>
                                    <li>Mobile App Design (iOS, Android)</li>
                                    <li>Website Redesigns & Prototypes</li>
                                    <li>Interactive Prototyping (Figma, Adobe XD)</li>
                                    <li>Usability Testing & Design Optimization</li>
                                </Ul>
                            </div>

                        </div>
                        <div class="development__offers block">
                            <span>Why Choose Us?</span>
                            <ul>
                                <li> User-Centered Approach: We put real users at the core of our design process to ensure every interaction makes sense.</li>
                                <li> Goal-Focused Design: Every screen we create is aligned with your business goals — whether it's more signups, sales, or engagement.</li>
                                <li> Tools We Love: We use industry-standard tools like Figma, Adobe XD, and Zeplin to deliver pixel-perfect results.</li>
                                <li> Fast Turnaround: From wireframes to final UI, we keep things agile and efficient.</li>
                            </ul>

                        </div>
                    </div>
                </div>
                <div class="images block">
                    <img src="pngwing.com (9).png" alt="angular">
                    <img src="pngwing.com (10).png" alt="springboot">
                </div>
            </div>
            <div class="webDevelopment">
                <div class="heading block">
                    <span>Graphics Designs</span>
                </div>
                <div class="content">
                    <div class="development__title block">
                        <span>
                            Visual Designs That Speak Louder Than Words
                        </span>
                    </div>
                    <div class="development__intro block">
                        <span>
                            At Finspire, we turn ideas into visuals that connect, communicate, and convert. Whether you're building a brand from scratch or refreshing your look, our graphic design services bring your vision to life with creativity and precision.

                        </span>
                    </div>
                    <div class="development__content block">
                        <div class="development__services">
                            <span>Our Graphic Design Services include:</span>
                            <div class="service__intro block">
                                <Ul>
                                    <li>Logo & Brand Identity Design</li>
                                    <li>Product Packaging & Label Design</li>
                                    <li>Brochures, Flyers, and Posters</li>
                                    <li>Social Media Post & Ad Design</li>
                                    <li>Infographics & Presentation Design</li>
                                </Ul>
                            </div>

                        </div>
                        <div class="development__offers block">
                            <span>Why Choose Us?</span>
                            <ul>
                                <li> Creative Excellence: Our designers blend imagination with strategy to create visuals that work.</li>
                                <li> Brand Consistency: We help you maintain a cohesive look across all platforms.</li>
                                <li> Fast Turnaround: Get your designs done on time, without compromising quality.</li>
                                <li> Collaborative Process: We work closely with you at every stage — from brief to final delivery.</li>
                            </ul>

                        </div>
                    </div>
                </div>
                <div class="images block">
                    <img src="pngwing.com (11).png" alt="angular">
                    <img src="pngwing.com (12).png" alt="springboot">
                    <img src="pngwing.com (13).png" alt="springboot">
                    <img src="pngwing.com (14).png" alt="springboot">
                </div>
            </div>
        </div>
    </div>
</div>