<div class="container">
    <div class="inner__container">
        <div class="links">
            <div class="heading">
                <span>Contact Us</span>
            </div>
            <div class="intro__msg">
                <span>Ready to take the next step with your digital journey? Contact us today and let’s explore how we can turn your ideas into powerful solutions.</span>
            </div>
            <div class="contact__details">
                <div class="mobile">
                    <img src="receiver.png" alt="phone">
                    <span>+94 763244160</span>
                </div>
                <div class="email">
                    <img src="email.png" alt="email">
                    <span>finspire001&#64;gmail.com</span>
                </div>
                <div class="address">
                    <img src="location.png" alt="location">
                    <span>Nothern Province,Kilinochci</span>
                </div>
            </div>
        </div>
        <div class="contact">
            <form action="https://api.web3forms.com/submit" method="POST">
                <div class="form__inner_div">
                    <input type="hidden" name="access_key" value="6ff5c995-b08e-48c8-94dd-bda3431e1160">
                    <div class="cust__name">
                        <label for="fname">Full Name</label>
                        <div class="Fullname">
                            <input type="text" placeholder="first name" required>
                            <input type="text" placeholder="last name" required>
                        </div>
                    </div>
                    <div class="cust__email">
                        <label for="email">Email</label>
                        <input type="email" placeholder="finspire001@gmail.com" required>
                    </div>
                    <div class="cust__mobile">
                        <label for="mobile">Mobile</label>
                        <input type="text" placeholder="mobile" required>
                    </div>
                    <div class="cust__msg">
                        <label for="message">Message</label>
                        <textarea rows="5" name="message" id="message" placeholder="type here...." required></textarea>
                    </div>
                </div>
                <div class="btn">
                    <button>Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>