   <!-- about us -->
   <div class="service_container">
    <div class="img__section">
        <div class="title">
            <span>About Us</span>
        </div>
    </div>
    <div class="about__content block">
        <div class="about__message">
            <div class="about__message__title">
                <span>Who we are ?</span>
            </div>
            <div class="about__message__content">
                <span>We offer a complete suite of services including Digital Marketing, Web Development, Video
                    Editing,
                    and UI/UX Design to bring your brand to life online.

                    From the first idea to the final launch—and every update after—we take care of everything, so
                    you
                    can focus on what you do best: growing your business.

                    Let’s create digital experiences that look amazing and perform even better.

                </span>
            </div>
            <div class="about__message__btn">
                <button>Explore more <img src="right-arrow-circle-regular-24.png" alt="arrow"></button>
            </div>
        </div>
        <div class="about__image">
            <div class="about__image__content">
                <img src="about_us.jpg" alt="home img">
            </div>
        </div>
    </div>
    <div class="intro block">
        <div>
            <div>2024</div>
            <div>FOUNDED</div>
        </div>
        <div>
            <div>3+</div>
            <div>EMPLOYEES</div>
        </div>
        <div>
            <div>3+</div>
            <div>PROJECTS</div>
        </div>
    </div>
    <div class="mission__vission block">
        <div class="mission__vission__card">
            <div class="card__title">
                <span>Mission</span>
            </div>
            <div class="card__content">
                <span>Deliver high-quality web development, digital marketing, video editing, and graphic design services by blending creativity with technology, ensuring client satisfaction, and driving measurable results. </span>
            </div>
        </div>
        <div class="mission__vission__card">
            <div class="card__title">
                <span>Vision</span>
            </div>
            <div class="card__content">
                <span>To be a trusted digital partner that delivers innovative, effective, and efficient solutions, empowering businesses to grow and thrive in the digital era. </span>
            </div>
        </div>
    </div>
</div>