<div class="container">
    <div class="header__content">
        <div class="logo">
            <div class="image">
                <img src="logo.png" alt="finsfire">
            </div>
            
            <div class="title">
                <span>Finspire</span>
                <span>software solutions</span>
            </div>
        </div>
        <div class="navbar">
            <ul>
                <li routerLink="/home">Home</li>
                <li routerLink="/service">Services</li>
                <li routerLink="/projects">Our Works</li>
                <li routerLink="/about">About Us</li>
            </ul>
        </div>
        <div class="contact" routerLink="/contact">
            <span>Talk With Us</span>
            <img src="pointer.png" alt="finsfire">
            <!-- <a href="https://wa.me/940763244160?text=Hi%2C%20I'm%20interested%20in%20your%20services" target="_blank">
                <img src="whatsapp-icon.png" alt="WhatsApp" style="width: 30px;" />
            </a> -->


        </div>
        <!-- <button
            onclick="window.location.href='mailto:kumarchayan31@gmail.com?subject=Service%20Inquiry&body=Hello%2C%20I%27m%20interested%20in%20your%20services.'">
            Contact via Email
        </button> -->
    </div>
</div>