.container {
    height: fit-content;
    width: 100%;
    background-color: var(--background-color);
    position: relative;
}

.header__content {
    height: 100%;
    padding: 0px 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    &:hover{
        cursor: pointer;
    }
}
.image{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.logo img {

    height: 60px;
    width: 60px;
    background-size: cover;

    

}
.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 20px;
    margin-top: 10px;
}

.title span:nth-child(1){
    font-size: 25px;
    color: rgb(0, 0, 94);
    font-weight: bolder;
}

.title span:nth-child(2){
    font-size: 11px;
    color: rgb(0, 0, 94);
    font-weight: 400;
}

.navbar ul {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 60px;
}

.navbar ul li {
    list-style: none;
    font-size: 18px;
    color: rgb(0, 0, 94);
    font-weight: 500;

    &:hover {
        color: rgb(0, 0, 206);
        ;
        cursor: pointer;
    }
}

.contact {
    border: 1px solid rgb(0, 0, 94);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    color: rgb(0, 0, 94);

    &:hover {
        background-color: rgb(0, 0, 94);
        cursor: pointer;
        color: white;
        background-image: rgb(0, 0, 94);

    }
}

.contact span {
    font-size: 18px;
    font-weight: 500;
}

.contact img {
    width: 20px;
    height: 20px;
}
.sub__contact{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.phone_no{
    font-size: 13px;
}
.inner__sub__contact span {
    font-size: 12px;
    font-weight: 200;
}
.inner__sub__contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 1px solid #fff;
    border-radius: 5px;
    text-align: center;
    padding: 2px 5px;
    &:hover{
        background-color: rgb(255, 255, 255);
        cursor: pointer;
        color: rgb(0, 0, 94);
    }
}

.inner__sub__contact img {
    width: 20px;
    height: 20px;
}
.menu{
    display: none;
}
.min__navbar{
    width: 100%;
    height: fit-content;
    color: rgb(0, 0, 94);
}
.min__navbar ul{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.min__navbar ul li {
    list-style: none;
    font-size: 18px;
    color: rgb(0, 0, 94);
    font-weight: 500;

    &:hover {
        color: rgb(0, 0, 206);
        ;
        cursor: pointer;
    }
}

.slidebar_block{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    position: fixed;
    top: 0;
    z-index: 1;
}
.slidebar_title{
    width: 90%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}
.slidebar_title img{
    height: 50px;
    width: 50px;
}
.slidebar__contact{
    width: 90%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}
.slidebar__nav{
    margin: 0;
    padding: 0;
}
.slidebar__nav ul{
    width: 50%;
    text-decoration: none;
    margin: auto;
    padding: 0;
}
.slidebar__nav ul li{
    width: 100%;
    list-style:none;
    border: 1px solid rgba(0, 0, 94, 0.356);
    padding:5px 10px;
    margin: 8px;
    border-radius: 5px;
    text-align: center;
    
}
// media query
@media screen and (min-width: 320px) {
    .header__content {
        height: 100%;
        padding: 0px 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .contact {
        border: 1px solid rgb(0, 0, 94);
        display: flex !important;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 5px;
        border-radius: 5px;
        text-align: center;
        padding: 5px;
        color: rgb(0, 0, 94);
        
        &:hover {
            background-color: rgb(0, 0, 94);
            cursor: pointer;
            color: white;
            background-image: rgb(0, 0, 94);
            
        }
    }
    
    .contact span {
        font-size: 13px;
        font-weight: 300;
    }
    
    .contact img {
        width: 15px;
        height: 15px;
    }
    .sub__contact{
        width: 90% !important;
        height: 50px !important;
        color: white;
        display: flex !important;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: auto;
    }
    .menu{
        display: block !important;
    }
    .navbar{
        display: none !important;
    }
    .contact{
        display: none !important;
    }
    .contact span {
        font-size: 10px;
        font-weight: 300;
    }
    .contact img {
        display: none;
    }
    .sub__contact__block{
        display: none !important;
    }
    .sub__contact__hide{
        display: none !important;
    }
    .min__navbar{
        display: none !important;
    }
    .slidebar_block{
        display: block !important;
    }
    .slidebar_hide{
        display: none !important;
    }
}
@media screen and (min-width: 375px) {
    
    .min__navbar{
        display: none !important;
      }
    .container{
        height: fit-content;
        width: 100%;
        background-color: var(--background-color);
    }
        .header__content{
            height: fit-content;
            padding: 0px 20px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }
    
   
    .sub__contact{
            height: 50px !important;
            color: rgb(0, 0, 94);
            display: flex !important;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            margin: auto;
        }
    .inner__sub__contact{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        border: 1px solid rgb(0, 0, 94);
        border-radius: 5px;
        text-align: center;
        padding: 2px 5px;
    }
    .slidebar{
        display: block !important;
    }
}
@media screen and (max-width: 425px) {
    .sub__contact{
        height: 50px !important;
        color: rgb(0, 0, 94);
        display: flex !important;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: auto;
    }
    .inner__sub__contact{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        border: 1px solid rgb(0, 0, 94);
        border-radius: 5px;
        text-align: center;
        padding: 2px 5px;
    }
    .min__navbar{
        display: block;
    }
    .slidebar{
        display: none !important;
    }
}
@media screen and (min-width: 768px) {
    .header__content {
        height: fit-content;
        padding: 0px 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .navbar{
        display: block !important;
    }
    .menu{
        display: none !important;
    }
    .navbar ul li {
        list-style: none;
        font-size: 18px;
        color: rgb(0, 0, 94);
        font-weight: 500;
    
        &:hover {
            color: rgb(0, 0, 206);
            cursor: pointer;
        }
    }
    .sub__contact{
        height: 50px !important;
        color: rgb(0, 0, 94);
        display: flex !important;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: auto;
        background-color: transparent;
    }
    .inner__sub__contact{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        border: 1px solid rgb(0, 0, 94);
        border-radius: 5px;
        text-align: center;
        padding: 2px 5px;
    }
    .min__navbar{
        display: none !important;
    }
    .phone_no{
        font-size: 17px;
        padding: 20px;
    }
    .inner__sub__contact span{
        font-size: 17px;
        font-weight: 100;
    }
    .slidebar{
        display: none !important;
    }
}
@media screen and (min-width: 1024px) {
    .header__content{
        height: fit-content;
        padding: 0px 50px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .navbar{
        display: block !important;
    }
    .menu{
        display: none !important;
    }
    .min__navbar{
        display: none !important;
    }
    .sub__contact{
        height: 50px !important;
        color: rgb(0, 0, 94);
        display: flex !important;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: auto;
        background-color: transparent;
    }
    .inner__sub__contact{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        border: 1px solid rgb(0, 0, 94);
        border-radius: 5px;
        text-align: center;
        padding: 2px 5px;
    }
    .phone_no{
        font-size: 17px;
        padding: 20px;
    }
    .inner__sub__contact span{
        font-size: 17px;
        font-weight: 100;
    }
    .slidebar{
        display: none !important;
    }
}
@media screen and (min-width: 1440px) {
    .header__content{
        height: fit-content;
        padding: 0 50px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .contact {
        border: 1px solid rgb(0, 0, 94);
        display: flex !important;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 5px;
        border-radius: 5px;
        text-align: center;
        padding: 5px;
        color: rgb(0, 0, 94);
    
        &:hover {
            background-color: rgb(0, 0, 94);
            cursor: pointer;
            color: white;
            background-image: rgb(0, 0, 94);
    
        }
    }
    .contact span {
        font-size: 10px;
        font-weight: 300;
    }
    .contact img {
        display: block;
    }
    .sub__contact{
        display: none !important;
    }
    .navbar{
        display: block !important;
    }
    .menu{
        display: none !important;
    }
    .min__navbar{
        display: none !important;
    }
    .navbar ul li {
        list-style: none;
        font-size: 22px;
        color: rgb(0, 0, 94);
        font-weight: 500;
    
        &:hover {
            color: rgb(0, 0, 206);
            ;
            cursor: pointer;
        }
    }
    .slidebar{
        display: none !important;
    }
}
@media screen and (min-width: 2560px) {
    .header__content{
        height: fit-content;
        padding: 0 50px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .contact{
        display: block;
    }
    .navbar{
        display: block !important;
    }
    .menu{
        display: none !important;
    }
    
    .navbar ul li {
        list-style: none;
        font-size: 40px;
        color: rgb(0, 0, 94);
        font-weight: 500;
    
        &:hover {
            color: rgb(0, 0, 206);
            ;
            cursor: pointer;
        }
    }
    .title span:nth-child(1) {
        font-size: 45px;
        color: rgb(0, 0, 94);
        font-weight: bolder;
    }
    .title span:nth-child(2) {
        font-size: 20px;
        color: rgb(0, 0, 94);
        font-weight: 400;
    }
    
    .title{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        line-height: 32px;
        margin-top: 10px;
    }
    .logo img{
        height: 100px;
        width: 100px;
        background-size: cover;
    }
    .contact span{
        font-size: 30px;
        font-weight: 500;
    }
    .slidebar{
        display: none !important;
    }
}
    
//     .header__content {
//         height: 100%;
//         padding: 0px 20px;
//         display: flex;
//         flex-direction: row;
//         align-items: center;
//         justify-content: space-between;
//     }
//     .contact {
//         border: 1px solid rgb(0, 0, 94);
//         display: flex !important;
//         flex-direction: row;
//         align-items: center;
//         justify-content: center;
//         gap: 5px;
//         border-radius: 5px;
//         text-align: center;
//         padding: 5px;
//         color: rgb(0, 0, 94);
    
//         &:hover {
//             background-color: rgb(0, 0, 94);
//             cursor: pointer;
//             color: white;
//             background-image: rgb(0, 0, 94);
    
//         }
//     }
    
//     .contact span {
//         font-size: 13px;
//         font-weight: 300;
//     }
    
//     .contact img {
//         width: 15px;
//         height: 15px;
//     }
//     .menu{
//         display: block;
//     }
//     .navbar{
//         display: none;
//     }
//   }
  
  
//   @media only screen and (min-width: 768px) {
//     .menu{
//         display: none;
//     }
//     .navbar{
//         display: block;
//     }
//   }