<div class="parent__container">
    <div class="home__container">
        <div class="home__content">
            <div class="message">
                <div class="message__title block">
                    <span data-text="Your One-Stop Digital Partner">Your One-Stop Digital Partner</span>
                </div>
                <div class="message__content">
                    <span>We offer a complete suite of services including Digital Marketing, Web Development, Video
                        Editing,
                        and UI/UX Design to bring your brand to life online.

                        From the first idea to the final launch—and every update after—we take care of everything, so
                        you
                        can focus on what you do best: growing your business.

                        Let’s create digital experiences that look amazing and perform even better.

                    </span>
                </div>
                <div class="message__btn" routerLink="/projects">
                    <button>Explore Our Works <img src="right-arrow-circle-regular-24.png" alt="arrow"></button>
                </div>
            </div>
            <div class="image">
                <div class="image__content">
                    <img src="home.jpg" alt="home img">
                </div>
            </div>
        </div>
    </div>
    <!-- services -->
    <div class="service_container">
        <div class="service__content">
            <div class="service__title">
                <span>Our Services</span>
            </div>
            <div class="service__cards">
                <div class="card block">
                    <div class="card__title">
                        <span>Web Development</span>
                    </div>
                    <div class="card__img">
                        <span>
                            <img src="webDevelopment.png" alt="web dev">
                        </span>
                    </div>
                    <div class="card__content">
                        <span>We create responsive, high-performing websites that blend design and functionality. Whether it’s a portfolio, business site, or web app, our solutions are tailored to meet your goals and deliver a seamless user experience. </span>
                    </div>
                    <div class="card__btn" routerLink="/service">
                        <button>More</button>
                    </div>
                    <div class="shape">

                    </div>
                    <div class="shape"></div>
                    <div class="shape_2"></div>
                </div>
                <div class="card block">
                    <div class="card__title">
                        <span style="color:rgb(85, 85, 245)">UI/UX Designs</span>
                    </div>
                    <div class="card__img__style2">
                        <span>
                            <img src="ux_10779685.png" alt="web dev">
                        </span>
                    </div>
                    <div class="card__content">
                        <span>We design intuitive and user-friendly interfaces that enhance user experience and keep your audience engaged. Every layout, button, and interaction is crafted with purpose and precision. </span>
                    </div>
                    <div class="card__btn__style2" routerLink="/service">
                        <button>More</button>
                    </div>
                    <div class="shape_UX_UI"></div>
                    <div class="shape_2_UX_UI"></div>
                </div>
                <div class="card block">
                    <div class="card__title">
                        <span>Graphics Designs</span>
                    </div>
                    <div class="card__img">
                        <span>
                            <img src="node_1455481.png" alt="web dev">
                        </span>
                    </div>
                    <div class="card__content">
                        <span>Make your brand stand out with creative and impactful design. From logos to marketing materials, we deliver visuals that are both eye-catching and aligned with your brand identity </span>
                    </div>
                    <div class="card__btn" routerLink="/service">
                        <button>More</button>
                    </div>
                    <div class="shape"></div>
                    <div class="shape_2"></div>
                </div>
                <div class="card block">
                    <div class="card__title">
                        <span style="color: rgb(85, 85, 245);">Digital Marketing</span>
                    </div>
                    <div class="card__img__style2">
                        <span>
                            <img src="social-media_10926953.png" alt="web dev">
                        </span>
                    </div>
                    <div class="card__content">
                        <span>From SEO to social media and Google Ads, we help your brand get noticed online. Our data-driven marketing strategies are built to increase visibility, attract leads, and turn visitors into loyal customers. </span>
                    </div>
                    <div class="card__btn__style2" routerLink="/service">
                        <button>More</button>
                    </div>
                    <div class="shape_UX_UI"></div>
                    <div class="shape_2_UX_UI"></div>
                </div>
                <div class="card block">
                    <div class="card__title">
                        <span>Video Editing</span>
                    </div>
                    <div class="card__img">
                        <span>
                            <img src="video-editing_17402428.png" alt="web dev">
                        </span>
                    </div>
                    <div class="card__content">
                        <span>Enhance your brand story with stunning video content. We produce and edit videos that are engaging, platform-ready, and perfect for marketing, presentations, or social media impact. </span>
                    </div>
                    <div class="card__btn" routerLink="/service">
                        <button>More</button>
                    </div>
                    <div class="shape"></div>
                    <div class="shape_2"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- about us -->
    <div class="service_container">
        <div class="about__content block">
            <div class="about__message">
                <div class="about__message__title">
                    <span>Who we are ?</span>
                </div>
                <div class="about__message__content">
                    <span>We offer a complete suite of services including Digital Marketing, Web Development, Video
                        Editing,
                        and UI/UX Design to bring your brand to life online.

                        From the first idea to the final launch—and every update after—we take care of everything, so
                        you
                        can focus on what you do best: growing your business.

                        Let’s create digital experiences that look amazing and perform even better.

                    </span>
                </div>
                <div class="about__message__btn" routerLink="/about">
                    <button>Explore more <img src="right-arrow-circle-regular-24.png" alt="arrow"></button>
                </div>
            </div>
            <div class="about__image">
                <div class="about__image__content">
                    <img src="about_us.jpg" alt="home img">
                </div>
            </div>
        </div>
        <div class="intro block">
            <div>
                <div>2024</div>
                <div>FOUNDED</div>
            </div>
            <div>
                <div>3+</div>
                <div>EMPLOYEES</div>
            </div>
            <div>
                <div>3+</div>
                <div>PROJECTS</div>
            </div>
        </div>
        <div class="mission__vission block">
            <div class="mission__vission__card">
                <div class="card__title">
                    <span>Mission</span>
                </div>
                <div class="card__content">
                    <span>Deliver high-quality web development, digital marketing, video editing, and graphic design services by blending creativity with technology, ensuring client satisfaction, and driving measurable results. </span>
                </div>
            </div>
            <div class="mission__vission__card">
                <div class="card__title">
                    <span>Vision</span>
                </div>
                <div class="card__content">
                    <span>To be a trusted digital partner that delivers innovative, effective, and efficient solutions, empowering businesses to grow and thrive in the digital era. </span>
                </div>
            </div>
        </div>
    </div>
    <div class="service_container">
        <div class="latest__projects">
            <div class="latest__projects__title">
                <span>Our Successful Projects</span>
            </div>
            <div class="projects">

                <div class="project_card block">
                    <div class="project_content">
                        <div class="project__name">
                            <span>House Rental System</span>
                        </div>
                        <div class="project_info">
                            <span>We offer a complete suite of services including Digital Marketing, Web Development,
                                Video
                                Editing,
                                and UI/UX Design to bring your brand to life online.

                                From the first idea to the final launch—and every update after—we take care of
                                everything, so
                                you
                                can focus on what you do best: growing your business.

                                Let’s create digital experiences that look amazing and perform even better.</span>
                        </div>
                        <div class="project_btn" routerLink="/projects">
                            <button>More</button>
                        </div>
                    </div>
                    <div class="project_img">
                        <img src="houseRental.png" alt="citizenPortal">
                    </div>
                </div>

                <div class="project_card block">
                    <div class="project_content">
                        <div class="project__name">
                            <span>Citizen Portal</span>
                        </div>
                        <div class="project_info">
                            <span>We offer a complete suite of services including Digital Marketing, Web Development,
                                Video
                                Editing,
                                and UI/UX Design to bring your brand to life online.

                                From the first idea to the final launch—and every update after—we take care of
                                everything, so
                                you
                                can focus on what you do best: growing your business.

                                Let’s create digital experiences that look amazing and perform even better.</span>
                        </div>
                        <div class="project_btn" routerLink="/projects">
                            <button>More</button>
                        </div>
                    </div>
                    <div class="project_img">
                        <img src="citizenPortal.png" alt="citizenPortal">
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>