<div class="service_container">
    <div class="img__section">
        <div class="title">
            <span>Projects</span>
        </div>
    </div>
    <div class="latest__projects">
        <div class="projects">

            <div class="project_card block">
                <div class="project_content">
                    <div class="project__name">
                        <span>House Rental System</span>
                    </div>
                    <div class="project_info">
                        <span>We offer a complete suite of services including Digital Marketing, Web Development,
                            Video
                            Editing,
                            and UI/UX Design to bring your brand to life online.

                            From the first idea to the final launch—and every update after—we take care of
                            everything, so
                            you
                            can focus on what you do best: growing your business.

                            Let’s create digital experiences that look amazing and perform even better.</span>
                    </div>
                    <div class="project_btn">
                        <button>More</button>
                    </div>
                </div>
                <div class="project_img">
                    <img src="houseRental.png" alt="citizenPortal">
                </div>
            </div>

            <div class="project_card block">
                <div class="project_content">
                    <div class="project__name">
                        <span>Citizen Portal</span>
                    </div>
                    <div class="project_info">
                        <span>We offer a complete suite of services including Digital Marketing, Web Development,
                            Video
                            Editing,
                            and UI/UX Design to bring your brand to life online.

                            From the first idea to the final launch—and every update after—we take care of
                            everything, so
                            you
                            can focus on what you do best: growing your business.

                            Let’s create digital experiences that look amazing and perform even better.</span>
                    </div>
                    <div class="project_btn">
                        <button>More</button>
                    </div>
                </div>
                <div class="project_img">
                    <img src="citizenPortal.png" alt="citizenPortal">
                </div>
            </div>

        </div>
    </div>
</div>