<div class="container">
    <div class="footer">
        <div class="info">
            <span>Finspire Software Solutions</span>
            <span>finsfire001&#64;gmail.com</span>
            <span>Uthayanager West</span>
            <span>Kilinochchi</span>
            <span>+94 76 32 44 160</span>
        </div>
        <div class="links">
            <span>Stay Connected With Us</span>
            <div class="logos">
                <span><img src="linkedin_1384014.png" alt="twitter"></span>
                <span><img src="facebook_2168281.png" alt="twitter"></span>
                <span><img src="twitter_5969020.png" alt="twitter"></span>
                <span><img src="instagram_1384015.png" alt="twitter"></span>
            </div>

        </div>
        <div class="copyright">
            <span>Copyright &copy; 2024 finspire</span>
            <span>Privacy policy</span>
            <span>Terms of use</span>
        </div>
    </div>
</div>